* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    max-width: 80ch;
    padding: 1rem;
}

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: serif;
    padding: 0.5rem 0;
}

p.meta-info {
    font-family: sans-serif;
    font-size: 0.8rem;
    opacity: 0.8;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #ddd;
    }

    h1 {
        color: #ccc;
    }

    a {
        color: cyan;
    }
}